.icons {
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-radius: 15px;
    flex-direction: row;
    margin-bottom: 25px;
}

.image {
    height: 25px;
    width: 25px;
    margin: 5px;
}